:root {
    --bg-color: hsl(0, 0, 98%);
    --elements-bg-color: white;
    --text-color: hsl(200, 15, 8%);
    --shadow-bottom: 0 4px 2px -2px lightgray;
    --shadow-outline: 0px 0px 10px lightgray;
}

[data-theme="dark"] {
    --bg-color: hsl(207, 26%, 17%);
    --elements-bg-color: hsl(209, 23%, 22%);
    --text-color: white;
    --shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
    --shadow-outline: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

html, body { max-width: 100%; overflow-x: hidden; }

*:focus {
    outline: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 40px;
}

.navbar {
    background-color: var(--elements-bg-color);
    height: 5vh;
    box-shadow: var(--shadow-bottom);
    padding: 20px;
    display: flex;
    justify-content: center;
    
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }

    &__title {
        font-size: 16px;
    }

    &__button {
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

.searchbar {
    padding: 20px;
    
    &__container {
        box-shadow: var(--shadow-outline);
        background-color: var(--elements-bg-color);
        display: flex;
        align-items: center;
        border-radius: 3px;
    }

    &__icon {
        height: 100%;
        display: flex;
        padding-left: 10px;
    }
    
    
    &__input {
        width: 100%;
        padding: 10px;
        border: none;
        color: hsl(0, 0%, 52%);
        background-color: var(--elements-bg-color);

    }
}

.back {
    margin-bottom: 40px;
    padding: 5px 40px;
}


.border {
    margin: 0 16px 16px 0;
    padding: 5px 20px;

}


.button {
    font-weight: 600;
    background: var(--elements-bg-color);
    box-shadow: var(--shadow-outline);
    display: inline-block;
    line-height: 0;
    border-radius: 3px;
  
    &__icon {
        margin-right: 5px;
        display: flex;
        align-items: center;

    }
    
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-color);
    }

    &__text {
        font-size: 14px;
    }

    &__container {
        display: flex;
        flex-flow: row wrap;
    }

}

.dropdownMenu {
    width: 40%;
    font-size: 12px;
    padding: 20px;
  
    &__control {
        background-color: var(--elements-bg-color) !important;
        border-style: none !important;
        box-shadow: var(--shadow-outline);
        border-radius: 3px;

    }


    &__option,
    &__menu {
        background-color: var(--elements-bg-color) !important;

    }
    
    &__placeholder {
        color: var(--text-color) !important; 
    }
    
    &__indicator-separator {
        background-color: transparent !important;
    }
    
    &__indicator {
        color: var(--text-color) !important;
    }
}

.card {
    background: var(--elements-bg-color);
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    box-shadow: var(--shadow-outline);

    &__img > img {
        width: 100%;
        height: 25vh;
        object-fit: cover;  
    }

    &__link {
        text-decoration: none;
        color: var(--text-color);
        
        > h2 {
            font-size: 20px;
            margin: 0;
            padding-bottom: 20px;    
            
        }
    }
    
    &__info {
        padding: 20px;
    }

    &__list {
        margin: 0;
        font-size: 14px;
        list-style: none;
        padding: 0;
        padding-bottom: 20px; 
    }



    &__item_bold {
        font-weight: 600;
        line-height: 28px;
    }
}

.single {
    width: 100%;

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 25vh;
    }

    &__info_block  {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 32px;
    }

    &__info_title {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 376px) {
    
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        padding: 5%;
    }

    .single__wrapper {
        padding: 5%;
    }

    .single {
        display: flex;
        flex-flow: row;
        
        &__info {
            padding-left: 32px;
            display: flex;
            flex-flow: row wrap;
        }
        
        &__info_title,
        &__info_borders {
            display: block;
            width: 100%;

        }

        &__image_container {
            min-width: 50%;
        }

        &__image {
            height: auto;
        }

        &__info_block {
            padding-right: 16px;
        }

        &__info_borders {
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        &__info_borders_title {
            padding-right: 16px;
        }
    }

    .card__container {
        width: calc(25% - 40px);
        margin: 20px;
    }

    .filters__containers {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 5%;
    }

    .searchbar {
        width: 40%;
    }

    .dropdownMenu {
        width: 20%;
    }
    
}

@media screen and (min-width: 1200px) {
    
    .wrapper {
        padding: 5% 10%;
    }
}