:root {
  --bg-color: hsl(0, 0, 98%);
  --elements-bg-color: white;
  --text-color: hsl(200, 15, 8%);
  --shadow-bottom: 0 4px 2px -2px lightgray;
  --shadow-outline: 0px 0px 10px lightgray;
}

[data-theme="dark"] {
  --bg-color: hsl(207, 26%, 17%);
  --elements-bg-color: hsl(209, 23%, 22%);
  --text-color: white;
  --shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
  --shadow-outline: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  padding: 40px;
}

.navbar {
  background-color: var(--elements-bg-color);
  height: 5vh;
  -webkit-box-shadow: var(--shadow-bottom);
          box-shadow: var(--shadow-bottom);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.navbar__title {
  font-size: 16px;
}

.navbar__button {
  font-weight: 600;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchbar {
  padding: 20px;
}

.searchbar__container {
  -webkit-box-shadow: var(--shadow-outline);
          box-shadow: var(--shadow-outline);
  background-color: var(--elements-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.searchbar__icon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.searchbar__input {
  width: 100%;
  padding: 10px;
  border: none;
  color: #858585;
  background-color: var(--elements-bg-color);
}

.back {
  margin-bottom: 40px;
  padding: 5px 40px;
}

.border {
  margin: 0 16px 16px 0;
  padding: 5px 20px;
}

.button {
  font-weight: 600;
  background: var(--elements-bg-color);
  -webkit-box-shadow: var(--shadow-outline);
          box-shadow: var(--shadow-outline);
  display: inline-block;
  line-height: 0;
  border-radius: 3px;
}

.button__icon {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.button__text {
  font-size: 14px;
}

.button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.dropdownMenu {
  width: 40%;
  font-size: 12px;
  padding: 20px;
}

.dropdownMenu__control {
  background-color: var(--elements-bg-color) !important;
  border-style: none !important;
  -webkit-box-shadow: var(--shadow-outline);
          box-shadow: var(--shadow-outline);
  border-radius: 3px;
}

.dropdownMenu__option, .dropdownMenu__menu {
  background-color: var(--elements-bg-color) !important;
}

.dropdownMenu__placeholder {
  color: var(--text-color) !important;
}

.dropdownMenu__indicator-separator {
  background-color: transparent !important;
}

.dropdownMenu__indicator {
  color: var(--text-color) !important;
}

.card {
  background: var(--elements-bg-color);
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: var(--shadow-outline);
          box-shadow: var(--shadow-outline);
}

.card__img > img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__link {
  text-decoration: none;
  color: var(--text-color);
}

.card__link > h2 {
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}

.card__info {
  padding: 20px;
}

.card__list {
  margin: 0;
  font-size: 14px;
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
}

.card__item_bold {
  font-weight: 600;
  line-height: 28px;
}

.single {
  width: 100%;
}

.single__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 25vh;
}

.single__info_block {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 32px;
}

.single__info_title {
  margin-bottom: 32px;
}

@media screen and (min-width: 376px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 5%;
  }
  .single__wrapper {
    padding: 5%;
  }
  .single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .single__info {
    padding-left: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .single__info_title, .single__info_borders {
    display: block;
    width: 100%;
  }
  .single__image_container {
    min-width: 50%;
  }
  .single__image {
    height: auto;
  }
  .single__info_block {
    padding-right: 16px;
  }
  .single__info_borders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .single__info_borders_title {
    padding-right: 16px;
  }
  .card__container {
    width: calc(25% - 40px);
    margin: 20px;
  }
  .filters__containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  .searchbar {
    width: 40%;
  }
  .dropdownMenu {
    width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    padding: 5% 10%;
  }
}
/*# sourceMappingURL=styles.css.map */